{% extends 'base.html' %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        var socket = io('/cosmos-db-nosql');
        socket.on('connect', function() {});
        socket.on('new_message', function(data) {
            console.dir(data.message);
            $('#messagesList').append(
                $('<li>')
                    .attr('class', 'list-group-item')
                    .append(
                        data.code?
                            $('<pre>').append($('<code>').append(data.message)) :
                            data.message
                    )
            );
        })
        $('#startButton').click(function() {
            console.dir('start');
            socket.emit('start', {});
        })
    });
</script>
{% endblock %}

{% block content %}
<h1>
    {% block title %}
    Hi, everyone!
    {% endblock %}
</h1>

<button id="startButton" type="button" class="btn btn-secondary my-2">
    Get messages
</button>

<ul id="messagesList" class="list-group mt-4">
</ul>
{% endblock %}